<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <title>{{ env['NAME'] }} · deploy</title>

    <meta name="description" content="deploy nest cloud systems">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>

  <body style="--acc-color: {{ env['COLOR'] }};">

    <header>
      <h1>deploy page of {{ env['NAME'] }}</h1>
    </header>

    <main>
      
      <section>
        <div class="loading"></div>
        <header>
          <button class="bash-button" data-bash="nextcloud">nextcloud sync</button> 
          <label>
            update users changes from 
            <a href="https://{{ env['NEXTCLOUD_ONLINE'] }}" target="_blank">{{ env['NEXTCLOUD_ONLINE'] }}</a>
            (ingredients)</label>
        </header>
        <div id="stdout-nextcloud" class="stdout">  
        </div>

        <header>
          <button class="bash-button" data-bash="goaccess">goaccess digest</button>
          <label>
            view logs at
            <a href="https://{{ env['MAIN_ONLINE'] }}/goaccess.html" target="_blank">{{ env['MAIN_ONLINE'] }}/goaccess.html</a>
          </label>
        </header>
        <div id="stdout-goaccess" class="stdout">
        </div>
      </section>
      
      <section>
        <div class="loading"></div>
        <header>
          <button class="bash-button" data-bash="gitlab">gitlab pull</button> 
          <label>
            update developpers changes from 
            <a href="https://{{ env['GIT_ONLINE'] }}" target="_blank">{{ env['GIT_ONLINE'] }}</a>
            (recipes)
          </label>
        </header>
        <div id="stdout-gitlab" class="stdout">
        </div>
      </section>
      
      <section>
        <div class="loading"></div>
        <header>
          <button class="bash-button" data-bash="pelican-taste">pelican taste</button> 
          <label>
            bake to taste in preview at 
            <a href="https://{{ env['TASTE_ONLINE'] }}" target="_blank">{{ env['TASTE_ONLINE'] }}</a>
          </label>
          <button class="bash-button" data-bash="pelican-serve">pelican serve</button>
          <label>
            bake to serve in public at 
            <a href="https://{{ env['MAIN_ONLINE'] }}" target="_blank">{{ env['MAIN_ONLINE'] }}</a>
          </label>
        </header>
        <div id="stdout-pelican" class="stdout">
        </div>
      </section>

    </main>

    <!-- automatically delivered by the server side of socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/stdout.js"></script>

  </body>

</html>
